@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<dynamic>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Account Expiry</th>
                <th>Street</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.AccountExpiry</td>
                <td>@item.Street</td>
                <td>@item.City</td>
                <td>@item.Name</td>
            </tr>
            }
        </tbody>
    </table>
    
    
</div>
<div class="row">
    <span>
        <b>Rows</b><span>@Model.Count()</span>
    </span>
</div>